<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Ballot - Login</title>
    <meta charset="uft-8">
    <link rel="icon" href="/static/imagem/iconvote1.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="static/ballot.css">
    <style>
        #menu {       
            list-style-type: none;
            margin: 0;      
            padding: 0.5%;      
            overflow: hidden;
            float: left;
            background-color: #87CEEB;
            width: 99%;
        }
    </style>
</head>
<body>
    <ul id="menu">
	<a href="/"><img src= "static/imagem/iconvote1.png" style="width:5%; height: 5%; float: left;"></a>
        <li class="intro" ><a class="intro" href="/ver_ranking" target="_blank">Ranking</a></li> 
        <li class="intro" ><a class="intro" href="/votar" target="_blank">Votar</a></li>                
        <li class="intro" ><a class="intro" href="/form_criar_votacao" target="_blank">Criar Votação</a></li>

    </ul>   
    <br>
    <br>
    <br>
    <br>
    <br> 
    <h1>FAÇA SEU LOGIN!</h1>
    <br>
    <br>
    <br>
    <div>  
        <form action="/login" method="post">
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email" placeholder="fulan@gmail.com">
            <br>
            <br>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha">
            <br>
            <br>
        </form>              
        <br>
        <input type="submit" value="Login">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div><p style="text-align: center; font-size: 85%; ">Copyright 2019. All Rights Reserved. Powered by Ballot.</p></div>

    
</body>
</html>
