<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Ballot - Votar</title>
    <meta charset="uft-8">
    <link rel="icon" href="/static/imagem/iconvote1.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="static/ballot.css">
    <style>
    
    #menu {       
        list-style-type: none;
        margin: 0;      
        padding: 0.5%;      
        overflow: hidden;
        float: left;
        background-color: #87CEEB;
        width: 99%;
    }
    </style>
</head>
<body>
    <ul id="menu">
	    <a href="/"><img src= "static/imagem/iconvote1.png" style="width:5%; height: 5%; float: left;"></a>
        <li class="intro" ><a class="intro" href="/ver_ranking" target="_blank">Ranking</a></li>
        <li class="intro" ><a class="intro" href="/form_criar_votacao" target="_blank">Criar Votação</a></li>
        <li class="intro" ><a class="intro" href="/form_cadastrar" target="_blank">Efetuar Cadastro</a></li>

    </ul>   
    


</body>
</html>

